mattermost:
  ServiceSettings:
    SiteURL: # mattermost siteurl
    WebSocketURL:
    LicenseFileLocation:
    ListenAddress: '8065' # mattermost listen address
    ConnectionSecurity:
    TLSCertFile: '/path/to/cert'
    TLSKeyFile: '/path/to/key'
    UseLetsEncrypt: False # enable/disable letsencrypt
    LetsEncryptCacheFile: '/.config/letsencrypt.cache'
    Forward80To443: False # forward 80 to 443
    ReadTimeout: 300
    WriteTimeout: 300
    MaximumLoginAttempts: 10
    GoogleDeveloperKey:
    EnableOAuthServiceProvider: False
    EnableIncomingWebhooks: True
    EnableOutgoingWebhooks: True
    EnableCommands: True
    EnableOnlyAdminIntegrations: True
    EnablePostusernameOverride: False
    EnablePostIconOverride: False
    EnableAPIv3: True
    EnableLinkPreviews: False
    EnableTesting: False
    EnableDeveloper: False
    EnableSecurityFixAlert: True
    EnableInsecureOutgoingConnections: False
    AllowUntrustedInternalConnections:
    EnableMultifactorAuthentication: False
    EnforceMultifactorAuthentication: False
    EnableUserAccessTokens: False
    AllowCorsFrom:
    CorsExposedHeaders
    CorsAllowCredentials
    CorsDebug
    AllowCookiesForSubdomains: False
    SessionLengthWebInDays: 30
    SessionLengthMobileInDays: 30
    SessionLengthSSOInDays: 30
    SessionCacheInMinutes: 10
    SessionIdleTimeoutInMinutes: 10
    WebsocketSecurePort: 443
    WebsocketPort: 80
    WebserverMode: gzip
    EnableCustomEmoji: False
    EnableEmojiPicker: True
    EnableGifPicker: False
    GfycatApiKey: '2_KtH_W5'
    GfycatApiSecret: '3wLVZPiswc3DnaiaFoLkDvB4X0IV6CpMkj4tf2inJRsBY6-FnkT08zGmppWFgeof'
    RestrictCustomEojiCreation: all
    RestrictPostDelete: all
    AllowEditPost: always
    PostEditTimeLimit: -1
    ExperimentalEnableAuthenticationTransfer: True
    TimeBetweenUserTypingUpdatesMilliseconds: 5000
    EnablePostSearch: True
    EnableUserTypingMessages: True
    EnableChannelViewedMessages: True
    EnableUserStatuses: True
    ClusterLogTimeoutMilliseconds: 2000
    EnablePreviewFeatures: True
    CloseUnusedDirectMessages: False
    EnableTutorial: True
    ExperimentalEnableDefaultChannelLeaveJoinMessages: True
    ExperimentalGroupUnreadChannels: 'disabled'
    ExperimentalChannelOrganization: False
    EnableAPITeamDeletion: False:
    ExperimentalEnableHardenedMode: False:
    DisableLegacyMFA: False
    EnableEmailInvitation: False
    ExperimentalLdapGroupSync: False

  TeamSettings:
    SiteName: 'Mattermost'
    MaxUsersPerTeam: 50
    EnableTeamCreation: True
    EnableUserCreation: True
    EnableOpenServer: False
    EnableUserDeactivation: False
    RestrictCreationToDomains:
    EnableCustomBrand: False:
    RestrictDirectMessage: 'any'
    RestrictTeamInivte: 'all'
    RestrictPublicChannelManagement: 'all'
    RestrictPrivateChannelManagement: 'all'
    RestrictPublicChannelCreation: all
    RestrictPrivateChannelCreation: all
    RestrictPublicChannelDeletion: all
    RestrictPrivateChannelDeletion: all
    RestrictPrivateChannelManageMembers: all
    EnableXToLeaveChannelsFromLHS: False
    UserStatusAwayTimeout: 300
    MaxChannelsPerTeam: 2000
    MaxNotificationsPerChannel: 1000
    EnableConfirmNotificationsToChannel: True
    TeammateNameDisplay: username
    ExperimentalViewArchivedChannels: False
    ExperimentalEnableAutomaticReplies: False
    ExperimentalHideTownSquareinLHS: False
    ExperimentalTownSquareIsReadOnly: False
    ExperimentalPrimaryTeam:
    ExperimentalDefaultChannels:

  DisplaySettings:
    ExperimentalTimezone: False

  SqlSettings:
    DriverName: mysql
    DataSource: 'mmuser:mostest@tcp(dockerhost:3306)/mattermost_test?charset=utf8mb4,utf8&readTime    out=30s&writeTimeout=30s'
    DataSourceReplicas:
    DataSourceSearchReplicas:
    MaxIdleConns: 20
    Trace: False
    AtRestEncryptKey:
    QueryTimeout: 30

  LogSettings:
    EnableConsole: True
    ConsoleLevel: INFO
    ConsoleJson: True
    EnableFile: True
    FileLevel: INFO
    FileJson: True
    FileLocation:
    EnableWebhookDebugging: True
    EnableDiagnostics: True

  PasswordSettings:
    MinimumLength: 5
    Lowercase: False
    Uppercase: False
    Symbol: False

  FileSettings:
    EnableFileAttachments: True
    EnableMobileUpload: True
    EnableMobileDownload: True
    MaxFileSize: 52428800
    DriverName: local
    Directory: './data/'
    EnablePublicLink: False
    amazons3-key-id:
    amazons3-secret-key:
    amazons3-bucket:
    amazons3-region:
    amazons3-endpoint:
    amazons3-ssl: True
    amazons3-signv2: False
    amazons3-sse: False
    amazons3-trace: False

  email-settings:
    signup-with-email: True
    signin-with-email: True
    signin-with-username: True
    email-notifications: False
    channel-notifications: False
    email-verification: False
    feedback-name:
    feedback-email:
    feedback-organization:
    enable-smtp-auth: False
    smtp-username:
    smtp-password:
    smtp-server:
    smtp-port:
    connection-security: TLS # None, TLS, or STARTTLS
    invite-salt:
    send-push-notifications: False
    push-notification-server:
    push-notification-contents: generic
    enable-email-batching: False
    batch-buffer-size: 256
    batch-interval: 30
    skip-server-cert-validation: False
    content-type: full
    login-button-color:
    login-button-border-color:
    login-button-text-color:

  rate-limit-settings:
    enable: False
    persec: 10
    max-burst: 100
    memory-store-size: 10000
    varyby-remote-addr: True
    varby-header:

  privacy-settings:
    show-email: True
    show-name: True

  support-settings:
    tos-link: 'https://about.mattermost.com/default-terms/'
    privacy-link: 'https://about.mattermost.com/default-privacy-policy/'
    about-link: 'https://about.mattermost.com/default-about/'
    help-link: 'https://about.mattermost.com/default-help/'
    problem-link: 'https://about.mattermost.com/default-report-a-problem/'
    support-email: 'feedback@mattermost.com'

  announcement-settings:
    enable-banner: False
    banner-text:
    banner-color: '#f2a93b'
    banner-text-color: '#333333'
    allow-banner-dismissal: True

  theme-settings:
    enable-theme-selection: True
    default-theme: default
    allow-custom-themes: True
    allowed-themes:

  gitlab-settings:
    enable: False
    secret:
    id:
    scope:
    auth-endpoint:
    token-endpoint:
    user-api-endpoint:

  google-settings:
    enable: False
    secret:
    id: 
    scope: 'profile email'
    auth-endpoint: 'https://accounts.google.com/o/oauth2/v2/auth'
    token-endpoint: 'https://accounts.google.com/o/oauth2/v4/token'
    user-api-endpoint: 'https://acounts.google.com/plus/v1/people/me'

  office365-settings:
    enable: False
    secret:
    id: 
    scope: 'User.Read'
    auth-endpoint: 'https://login.microsoftonline.com/common/oauth2/v2.0/authorize'
    token-endpoint: 'https://login.microsoftonline.com/common/oauth2/v2.0/token'
    user-api-endpoint: 'https://graph.microsoft.com/v1.0/me'

  ldap-settings:
    enable: False
    enable-sync: False
    ldap-server:
    ldap-port: 389
    connection-security:
    base-dn:
    bind-username:
    bind-password:
    user-filter:
    first-name-attribute:
    last-name-attribute:
    email-attribute:
    username-attribute:
    nickname-attribute:
    id-attribute:
    position-attribute:
    login-id-attribute:
    sync-interval: 60
    skip-cert-verify: False
    query-timeout: 60
    max-page-size: 0
    login-field-name:

  compliance-settings:
    enable: False
    directory: './data/'
    enable-daily: False

  localization-settings:
    default-server-locale: 'en'
    default-client-locale: 'en'
    available-locale:

  saml-settings:
    enable: False
    enable-ldap-sync: False
    verify: True
    Encrypt: True
    id-url:
    idp-descriptor-url:
    assertion-consumer-service-url:
    idp-cert-file:
    public-cert-file:
    private-key-file:
    first-name-attribute:
    last-name-attribute:
    email-attribute:
    nickname-attribute:
    username-attribute:
    locale-attribute:
    postition-attribute:
    login-button-text:

  native-app-settings:
    app-download-link: 'https://about.mattermost.com/downloads'
    android-download-link: 'https://about.mattermost.com/mattermost-android-app'
    ios-download-link: 'https://about.mattermost.com/mattermost-ios-app'

  cluster-settings:
    enable: False
    name:
    override-hostname:
    use-ipaddress: True
    use-experimental-gossip: False
    read-only-config: True
    gossip-port: 8074
    streaming-port: 8075
    max-idle-connections: 100
    max-idle-conns-per-host: 120
    idle-connections-milliseconds: 90000

  metric-settings:
    enable: False
    block-profile-rate: 0
    listen-address: 8067

  analytics-settings:
    max-users: 2500

  elasticsearch-settings
    connection-url: 'http://dockerhost:9200'
    username: elastic
    password: changeme
    enable-indexing: False
    enable-searching: False
    sniff: True
    post-index-replicas: 1
    post-index-shards: 1
    aggregate-posts-after-days: 365
    posts-aggrator-start-time: '03:00'
    index-prefix:
    live-index-batch-size: 1
    bulk-indexing-time: 3600
    request-timeout: 30

  data-retention-settings:
    enable-message-deletion: False
    enable-file-deletion: False
    message-retention: 365
    file-retention: 365
    deletion-start-time: '02:00'

  message-export-settings:
    enable: False
    daily-runtime: '01:00'
    export-timestamp: 0
    file-location: export
    batch-size: 10000

  job-settings:
    run-jobs: True
    run-scheduler: True

  plugin-settings:
    enable: True
    enable-uploads: False
    directory: './plugins'

