{% set mattermost = salt['pillar.get']('mattermost', {}) %}
{
{% service = mattermost.get('service-settings', {}) %}
   "ServiceSettings": {
       "SiteURL": "{{ service.get('siteurl', '') }}",
       "WebsocketURL": "{{ service.get('websocketurl', '') }}",
       "LicenseFileLocation": "{{ service.get('license-file-location', '')}}",
       "ListenAddress": ":{{ service.get('listen-adress', '8065') }}",
       "ConnectionSecurity": "{{ service.get('connection-security', '') }}",
       "TLSCertFile": "{{ service.get('tls-cert-file', '') }}",
       "TLSKeyFile": "{{ service.get('tls-key-file', '') }}",
       "UseLetsEncrypt": {{ service.get('letsencrypt', 'false') }},
       "LetsEncryptCertificateCacheFile": "{{ service.get('letsencrypt-cache-file', './config/letsencrypt.cache') }}",
       "Forward80To443": {{ service.get('forward-to-https', 'false') }},
       "ReadTimeout": {{ service.get('read-timeout', '300') }},
       "WriteTimeout": {{ service.get('write-timeout', '300') }},
       "MaximumLoginAttempts": {{ service.get('login-attempts', '10') }},
       "GoroutineHealthThreshold": -1,
       "GoogleDeveloperKey": "{{ service.get('google-developer-key', '') }}",
       "EnableOAuthServiceProvider": {{ service.get('enable-oauth', 'false') }},
       "EnableIncomingWebhooks": {{ service.get('enable-incoming-webhooks', 'true') }},
       "EnableOutgoingWebhooks": {{ service.get('enable-outgoing-webhooks', 'true') }},
       "EnableCommands": {{ service.get('enable-commands', 'true') }},
       "EnableOnlyAdminIntegrations": {{ service.get('admin-integrations', 'true') }},
       "EnablePostUsernameOverride": {{ service.get('username-override', 'false') }},
       "EnablePostIconOverride": {{ service.get('icon-override', 'false') }},
       "EnableAPIv3": {{ service.get('apiv3', 'true') }},
       "EnableLinkPreviews": {{ service.get('link-previews', 'false') }},
       "EnableTesting": {{ service.get('enable-testing', 'false') }},
       "EnableDeveloper": {{ service.get('enable-developer', 'false') }},
       "EnableSecurityFixAlert": {{ service.get('security-fix-alert', 'true') }},
       "EnableInsecureOutgoingConnections": {{ service.get('insecure-connections', 'false') }},
       "AllowedUntrustedInternalConnections": "{{ service.get('interal-connections', '') }}",
       "EnableMultifactorAuthentication": {{ service.get('enable-mfa', 'false') }},
       "EnforceMultifactorAuthentication": "{{ service.get('enforce-mfa', 'false') }}",
       "EnableUserAccessTokens": "{{ service.get('enable-user-tokens', 'false') }}",
       "AllowCorsFrom": "{{ service.get('allow-cors-from', '') }}",
       "AllowCookiesForSubdomains": {{ service.get('allow-cookies-subdomain', 'false') }},
       "SessionLengthWebInDays": {{ service.get('session-length-web-days', '30') }},
       "SessionLengthMobileInDays": {{ service.get('session-length-mobile-days', '30') }},
       "SessionLengthSSOInDays": {{ service.get('session-length-sso-days', '30') }},
       "SessionCacheInMinutes": {{ service.get('session-cache-minutes', '10') }},
       "SessionIdleTimeoutInMinutes": {{ service.get('session-idle-minutes', '0') }},
       "WebsocketSecurePort": {{ service.get('websocket-secure-port', '443') }},
       "WebsocketPort": {{ service.get('websocket-port', '80') }},
       "WebserverMode": "{{ service.get('webserver-mode', 'gzip') }},
       "EnableCustomEmoji": {{ service.get('custom-emoji', 'false') }},
       "EnableEmojiPicker": {{ service.get('emoji-picker', 'true') }},
       "EnableGifPicker": {{ service.get('gif-picker', 'true') }},
       "GfycatApiKey": "{{ service.get('gfycat-api-key', '2_KtH_W5') }}",
       "GfycatApiSecret": "{{ service.get('gfycat-api-secret', '3wLVZPiswc3DnaiaFoLkDvB4X0IV6CpMkj4tf2inJRsBY6-FnkT08zGmppWFgeof') }}",
       "RestrictCustomEmojiCreation": "{{ service.get('restrict-emoji-creation', 'all') }}",
       "RestrictPostDelete": "{{ service.get('restrict-post-delete', 'all') }}",
       "AllowEditPost": "{{ service.get('allow-post-edit', 'always') }}",
       "PostEditTimeLimit": {{ service.get('post-edit-time', '300') }},
       "ExperimentalEnableAuthenticationTransfer": {{ service.get('enable-authentication-transfer', 'true') }},
       "TimeBetweenUserTypingUpdatesMilliseconds": {{ service.get('user-typing-updates', '5000') }},
       "EnablePostSearch": {{ service.get('post-search', 'true') }},
       "EnableUserTypingMessages": {{ service.get('user-typing-messages', 'true') }},
       "EnableChannelViewedMessages": {{ service.get('channel-viewed-messages', 'true') }},
       "EnableUserStatuses": {{ service.get('enable-user-statuses', 'true') }},
       "ClusterLogTimeoutMilliseconds": {{ service.get('cluster-log-timeout', '2000') }},
       "EnablePreviewFeatures": {{ service.get('enable-preview-features', 'true') }},
       "CloseUnusedDirectMessages": {{ service.get('close-unused-direct-messages', 'false') }},
       "EnableTutorial": {{ service.get('enable-tutorial', 'true') }},
       "ExperimentalEnableDefaultChannelLeaveJoinMessages": {{ service.get('default-channel-leave-join-messages', 'true') }},
       "ExperimentalGroupUnreadChannels": "{{ service.get('group-unread-channels', 'disabled') }}",
       "ImageProxyType": "{{ service.get('image-proxy-type', '') }}",
       "ImageProxyOptions": "{{ service.get('image-proxy-options', '') }}",
       "ImageProxyURL": "{{ service.get('image-proxy-url', '') }}",
       "EnableAPITeamDeletion": {{ service.get('api-team-deletion', 'false') }},
       "ExperimentalEnableHardenedMode": {{ service.get('enable-hardened-mode', 'false') }},
       "ExperimentalLimitClientConfig": {{ service.get('enable-limit-client-config', 'false') }},
       "ExperimentalEmailInvitations": {{ service.get('enable-email-invites', 'true') }}
   },
{% team = mattermost.get('team-settings', {}) %}
   "TeamSettings": {
       "SiteName": "{{ team.get('site-name', 'Mattermost') }}",
       "MaxUsersPerTeam": {{ team.get('max-users', '50') }},
       "EnableTeamCreation": {{ team.get('team-creation', 'true') }},
       "EnableUserCreation": {{ team.get('user-creation', 'true') }},
       "EnableOpenServer": {{ team.get('open-server', 'false') }},
       "RestrictCreationToDomains": "{{ team.get('restrict-creation-domains', '') }}",
       "EnableCustomBrand": {{ team.get('enable-custom-brand', 'false') }},
       "CustomBrandText": "{{ team.get('custom-brand-text', '') }}",
       "CustomDescriptionText": "{{ team.get('custom-decsription-text', '') }}",
       "RestrictDirectMessage": "{{ team.get('restrict-direct-message', 'any') }}",
       "RestrictTeamInvite": "{{ team.get('restrict-team-invite', 'all') }}",
       "RestrictPublicChannelManagement": "{{ team.get('restrict-public-manage', 'all') }}",
       "RestrictPrivateChannelManagement": "{{ team.get('restrict-private-manage', 'all') }}",
       "RestrictPublicChannelCreation": "{{ team.get('restrict-public-create', 'all') }}",
       "RestrictPrivateChannelCreation": "{{ team.get('restrict-private-create', 'all') }}",
       "RestrictPublicChannelDeletion": "{{ team.get('restrict-public-delete', 'all') }}",
       "RestrictPrivateChannelDeletion": "{{ team.get('restrict-private-delete', 'all') }}",
       "RestrictPrivateChannelManageMembers": "{{ team.get('restrict-private-manage', 'all') }}",
       "EnableXToLeaveChannelsFromLHS": {{ team.get('enable-x-leave-channel', 'false') }},
       "UserStatusAwayTimeout": {{ team.get('user-away-timeout', '300') }},
       "MaxChannelsPerTeam": {{ team.get('max-channels-per-team', '2000') }},
       "MaxNotificationsPerChannel": {{ team.get('max-notifications', '1000') }},
       "EnableConfirmNotificationsToChannel": {{ team.get('enable-confirm-notifications', 'true') }},
       "TeammateNameDisplay": "{{ team.get('teammate-name-display', 'username') }}",
       "ExperimentalEnableAutomaticReplies": {{ team.get('automatic-replies', 'false') }},
       "ExperimentlaHideTownSquareinLHS": {{ team.get('hide-town-square', 'false') }},
       "ExperimentalTownSquareIsReadOnly": {{ team.get('read-only', 'false') }},
       "ExperimentalPrimaryTeam": "{{ team.get('primary-team', '') }}"
   },
{% display = mattermost.get('display-settings', {}) %}
   "DisplaySettings": {
       "CustomURLSchemes": [],
       "ExperimentalTimezone": {{ display.get('experimental-timezone', 'false') }}
   },
   "ClientRequirements": {
       "AndroidLatestVersion": "",
       "AndroidMinVersion": "",
       "DesktopLatestVersion": "",
       "DesktopMinVersion": "",
       "IosLatestVersion": "",
       "IosMinVersion": ""
   },
{% sql = mattermost.get('sql-settings', {}) %}
   "SqlSettings": {
       "DriverName": "{{ sql.get('drivername', 'mysql') }}",
       "DataSource": "{{ sql.get('datasource', 'mmuser:mostest@tcp(dockerhost:3306)/mattermost_test?charset=utf8mb4,utf8&readTimeout=30s&writeTimeout=30s') }}",
       "DataSourceReplicas": [{{ sql.get('datasource-replicas', '') }}],
       "DataSourceSearchReplicas": [{{ sql.get('datasource-search', '') }}],
       "MaxIdleConns": {{ sql.get('max-idle-connections', '20') }},
       "ConnMaxLifetimeMilliseconds": {{ sql.get('max-lifetime', '3600000') }},
       "MaxOpenConns": {{ sql.get('max-open-connections', '300') }},
       "Trace": {{ sql.get('trace', 'false') }},
       "AtRestEncryptKey": "{{ sql.get('at-rest-encrypt-key', '') }}",
       "QueryTimeout": {{ sql.get('query-timeout', '30') }}
   },
{% log = mattermost.get('log-settings', {}) %}
   "LogSettings": {
       "EnableConsole": {{ log.get('enable-console', 'true') }},
       "ConsoleLevel": "{{ log.get('console-level', 'INFO') }}",
       "EnableFile": {{ log.get('enable-file', 'true') }},
       "FileLevel": "{{ log.get('file-level', 'INFO') }}",
       "FileJson": "{{ log.get('file-json', 'true') }}",
       "FileLocation": "{{ log.get('file-location', '') }}",
       "EnableWebhookDebugging": {{ log.get('enable-webhook-debug', 'true') }},
       "EnableDiagnostics": {{ log.get('enable-diagnostics', 'true') }}
   },
{% password = mattermost.get('password-settings', {}) %}
   "PasswordSettings": {
       "MinimumLength": {{ password.get('minimum-length', '5') }},
       "Lowercase": {{ password.get('lowercase', 'false') }},
       "Number": {{ password.get('number', 'false') }},
       "Uppercase": {{ passwrod.get('uppercase', 'false') }},
       "Symbol": {{ password.get('symbol', 'false') }}
   },
{% file = mattermost.get('file-settings', {}) %}
   "FileSettings": {
       "EnableFileAttachments": {{ file.get('enable-attachments', 'true') }},
       "EnableMobileUpload": {{ file.get('enable-mobile-upload', 'true') }},
       "EnableMobileDownload": {{ file.get('enable-mobile-download', 'true') }},
       "MaxFileSize": {{ file.get('maxfile-size', '52428800') }},
       "DriverName": "{{ file.get('drivername', 'local') }}",
       "Directory": "{{ file.get('directory', './data/') }}",
       "EnablePublicLink": {{ file.get('enable-public-link', 'false') }},
       "PublicLinkSalt": "",
       "InitialFont": "luximbi.ttf",
       "AmazonS3AccessKeyId": "{{ file.get('amazons3-key-id', '') }}",
       "AmazonS3SecretAccessKey": "{{ file.get('amazons3-secret-key', '') }}",
       "AmazonS3Bucket": "{{ file.get('amazons3-bucket', '') }}",
       "AmazonS3Region": "{{ file.get('amazons3-region', '') }}",
       "AmazonS3Endpoint": "{{ file.get('amazons3-endpoint', 's3.amazonaws.com') }}",
       "AmazonS3SSL": {{ file.get('amazons3-ssl', 'true') }},
       "AmazonS3SignV2": {{ file.get('amazons3-signv2', 'false') }},
       "AmazonS3SSE": {{ file.get('amazons3-sse', 'false') }},
       "AmazonS3Trace": {{ file.get('amazons3-trace', 'false') }}
   },
{% email = mattermost.get('email-settings', {}) %}
   "EmailSettings": {
       "EnableSignUpWithEmail": {{ email.get('signup-with-email', 'true') }},
       "EnableSignInWithEmail": {{ email.get('signin-with-email', 'true') }},
       "EnableSignInWithUsername": {{ email.get('signin-with-username', 'true') }},
       "SendEmailNotifications": {{ email.get('email-notifications', 'false') }},
       "UseChannelInEmailNotifications": {{ email.get('channel-notifications', 'false') }},
       "RequireEmailVerification": {{ email.get('email-verification', 'false') }},
       "FeedbackName": "{{ email.get('feedback-name', '') }}",
       "FeedbackEmail": "{{ email.get('feedback-email', '') }}",
       "FeedbackOrganization": "{{ email.get('feedback-organization', '') }}",
       "EnableSMTPAuth": {{ email.get('enable-smtp-auth', 'false') }},
       "SMTPUsername": "{{ email.get('smtp-username', '') }}",
       "SMTPPassword": "{{ email.get('smtp-password', '') }}",
       "SMTPServer": "{{ email.get('smtp-server', '') }}",
       "SMTPPort": "{{ email.get('smtp-port', '') }}",
       "ConnectionSecurity": "{{ email.get('connection-security', '') }}",
       "InviteSalt": "{{ email.get('email:invite-salt', '') }}",
       "SendPushNotifications": {{ email.get('send-push-notifications', 'false') }},
       "PushNotificationServer": "{{ email.get('push-notification-server', '') }}",
       "PushNotificationContents": "{{ email.get('push-notification-contents', 'generic') }}",
       "EnableEmailBatching": {{ email.get('enable-email-batching', 'false') }},
       "EmailBatchingBufferSize": {{ email.get('batch-buffer-size', '256') }},
       "EmailBatchingInterval": {{ email.get('batch-interval', '30') }},
       "EnablePreviewModeBanner": {{ email.get('enable-preview-banner', 'true') }},
       "SkipServerCertificateVerification": {{ email.get('skip-server-cert-validation', 'false') }},
       "EmailNotificationContentsType": "{{ email.get('content-type', 'full') }}",
       "LoginButtonColor": "{{ email.get('login-button-color', '') }},
       "LoginButtonBorderColor": "{{ email.get('login-button-border-color', '') }},
       "LoginButtonTextColor": "{{ email.get('login-button-text-color', '') }}
   },
{% rate_limit = mattermost.get('rate-limit-settings', {}) %}
   "RateLimitSettings": {
       "Enable": {{ rate_limit.get('enable', 'false') }},
       "PerSec": {{ rate_limit.get('persec', '10') }},
       "MaxBurst": {{ rate_limit.get('max-burst', '100') }},
       "MemoryStoreSize": {{ rate_limit.get('memory-store-size', '10000') }},
       "VaryByRemoteAddr": {{ rate_limit.get('varyby-remote-addr', 'true') }},
       "VaryByUser": {{ rate_limit.get('varyby-user', 'false') }}"
       "VaryByHeader": "{{ rate_limit.get('varyby-header', '') }}"
   },
{% set privacy = mattermost.get('privacy-settings', {}) %}
   "PrivacySettings": {
       "ShowEmailAddress": {{ privacy.get('privacy:show-email', 'true') }},
       "ShowFullName": {{ privacy.get('privacy:show-name', 'true') }}
   },
{% set support = mattermost.get('support-settings', {}) %}
   "SupportSettings": {
       "TermsOfServiceLink": "{{ support.get('tos-link', 'https://about.mattermost.com/default-terms/') }}",
       "PrivacyPolicyLink": "{{ support.get('privacy-link', 'https://about.mattermost.com/default-privacy-policy/') }}",
       "AboutLink": "{{ support.get('about-link', 'https://about.mattermost.com/default-about/') }}",
       "HelpLink": "{{ support.get('help-link', 'https://about.mattermost.com/default-help/') }}",
       "ReportAProblemLink": "{{ support.get('problem-link', 'https://about.mattermost.com/default-report-a-problem/') }}",
       "SupportEmail": "{{ support.get('support-email', 'feedback@mattermost.com') }}"
   },
{% set announcement = mattermost.get('announcement-settings', {}) %}
   "AnnouncementSettings": {
       "EnableBanner": {{ announcement.get('enable-banner', 'false') }},
       "BannerText": "{{ announcement.get('banner-text', '') }}",
       "BannerColor": "{{ announcement.get('banner-color', '#f2a93b') }}",
       "BannerTextColor": "{{ announcement.get('banner-text-color', '#333333') }}",
       "AllowBannerDismissal": {{ announcement.get('allow-banner-dismissal', 'true') }}
   },
{% set theme = mattermost.get('theme-settings', {}) %}
   "ThemeSettings": {
       "EnableThemeSelection": theme.get('enable-theme-selection', 'true') }},
       "DefaultTheme": "{{ theme.get('default-theme', 'default') }}",
       "AllowCustomThemes": {{ theme.get('allow-custom-themes', 'true') }},
       "AllowedThemes": [{{ theme.get('allowed-themes', '') }}]
   },
   "TimezoneSettings": {
       "SupportedTimezonesPath": "timezones.json"
   },
{% git = mattermost.get('gitlab-settings', {}) %}
   "GitLabSettings": {
       "Enable": {{ git.get('enable', 'false') }},
       "Secret": "{{ git.get('secret', '') }}",
       "Id": "{{ git.get('id', '') }}",
       "Scope": "{{ git.get('scope', '') }}",
       "AuthEndpoint": "{{ git.get('auth-endpoint', '') }}",
       "TokenEndpoint": "{{ git.get('token-endpoint', '') }}",
       "UserApiEndpoint": "{{ git.get('user-api-endpoint', '') }}"
   },
{% google = mattermost.get('google-settings', {}) %}
   "GoogleSettings": {
       "Enable": {{ google.get('enable' , 'false') }},
       "Secret": "{{ google.get('secret', '') }}",
       "Id": "{{ google.get('id', '') }}",
       "Scope": "{{ google.get('scope', 'profile email') }}",
       "AuthEndpoint": "{{ google.get('auth-endpoint', 'https://accounts.google.com/o/oauth2/v2/auth') }}",
       "TokenEndpoint": "{{ google.get('token-endpoint', 'https://www.googleapis.com/oauth2/v4/token') }}",
       "UserApiEndpoint": "{{ google.get('user-api-endpoint', 'https://www.googleapis.com/plus/v1/people/me') }}"
   },
{% office = mattermost.get('office365-settings', {}) %}
   "Office365Settings": {
       "Enable": {{ office.get('enable', 'false') }},
       "Secret": "{{ office.get('secret', '') }}",
       "Id": "{{ office.get('secret', '') }}",
       "Scope": "{{ office.get('scope', 'User.Read') }}",
       "AuthEndpoint": "{{ office.get('auth-endpoint', 'https://login.microsoftonline.com/common/oauth2/v2.0/authorize') }}",
       "TokenEndpoint": "{{ office.get('token-endpoint', 'https://login.microsoftonline.com/common/oauth2/v2.0/token') }}",
       "UserApiEndpoint": "{{ office.get('user-api-endpoint', 'https://graph.microsoft.com/v1.0/me') }}"
   },
{% ldap = mattermost.get('ldap-settings', {}) %}
   "LdapSettings": {
       "Enable": {{ ldap.get('enable', 'false') }},
       "EnableSync": {{ ldap.get('enable-sync', 'false') }},
       "LdapServer": "{{ ldap.get('ldap-server', '') }}",
       "LdapPort": {{ ldap.get('ldap-port', '389') }},
       "ConnectionSecurity": "{{ ldap.get('connection-security', '') }}",
       "BaseDN": "{{ ldap.get('base-dn', '') }}",
       "BindUsername": "{{ ldap.get('bind-username', '') }}",
       "BindPassword": "{{ ldap.get('bind-password', '') }}",
       "UserFilter": "{{ ldap.get('user-filter', '') }}",
       "FirstNameAttribute": "{{ ldap.get('first-name-attribute', '') }}",
       "LastNameAttribute": "{{ ldap.get('last-name-attribute', '') }}",
       "EmailAttribute": "{{ ldap.get('email-attribute', '') }}",
       "UsernameAttribute": "{{ ldap.get('username-attribute', '') }}",
       "NicknameAttribute": "{{ ldap.get('nickname-attribute', '') }}",
       "IdAttribute": "{{ ldap.get('id-attribute' '') }}",
       "PositionAttribute": "{{ ldap.get('position-attribute', '') }}",
       "LoginIdAttribute": "{{ ldap.get('login-id-attribute', '') }}",
       "SyncIntervalMinutes": {{ ldap.get('sync-interval', '60') }},
       "SkipCertificateVerification": {{ ldap.get('skip-cert-verify', 'false') }},
       "QueryTimeout": {{ ldap.get('query-timeout', '60') }},
       "MaxPageSize": {{ ldap.get('max-page-size', '0') }},
       "LoginFieldName": "{{ ldap.get('login-field-name', '') }}"
   },
{% compliance = mattermost.get('compliance-settings', {}) %}
   "ComplianceSettings": {
       "Enable": {{ compliance.get('enable', 'false') }},
       "Directory": "{{ compliance.get('directory', './data/') }}",
       "EnableDaily": {{ compliance.get('enable-daily', 'false') }}
   },
{% localization = mattermost.get('localization-settings', {}) %}
   "LocalizationSettings": {
       "DefaultServerLocale": "{{ localization.get('default-server-locale', 'en') }}",
       "DefaultClientLocale": "{{ localization.get('default-client-locale', 'en') }}",
       "AvailableLocales": "{{ localization.get('available-locale', '') }}"
   },
{% saml = mattermost.get('saml-settings', {}) %}
   "SamlSettings": {
       "Enable": {{ saml.get('enable', 'false') }},
       "EnableSyncWithLdap": {{ saml.get('enable-ldap-sync', 'false') }},
       "Verify": {{ saml.get('verify', 'true') }},
       "Encrypt": {{ saml.get('encrypt', 'true') }},
       "IdpUrl": "{{ saml.get('idp-url', '') }}",
       "IdpDescriptorUrl": "{{ saml.get('idp-descriptor-url', '') }}",
       "AssertionConsumerServiceURL": "{{ saml.get('assertion-consumer-service-url', '') }}",
       "IdpCertificateFile": "{{ saml.get('idp-cert-file', '') }}",
       "PublicCertificateFile": "{{ saml.get('public-cert-file', '') }}",
       "PrivateKeyFile": "{{ saml.get('private-key-file', '') }}",
       "FirstNameAttribute": "{{ saml.get('first-name-attribute', '') }}",
       "LastNameAttribute": "{{ saml.get('last-name-attribute', '') }}",
       "EmailAttribute": "{{ saml.get('email-attribute', '') }}",
       "UsernameAttribute": "{{ saml.get('username-attribute', '') }}",
       "NicknameAttribute": "{{ saml.get('nickname-attribute', '') }}",
       "LocaleAttribute": "{{ saml.get('locale-attribute', '') }}",
       "PositionAttribute": "{{ saml.get('position-attribute', '') }}",
       "LoginButtonText": "{{ saml.get('login-button-text', 'With SAML') }}"
   },
{% native_app = mattermost.get('native-app-settings', {}) %}
   "NativeAppSettings": {
       "AppDownloadLink": "{{ native_app.get('app-download-link', 'https://about.mattermost.com/downloads/') }}",
       "AndroidAppDownloadLink": "{{ native_app.get('android-download-link', 'https://about.mattermost.com/mattermost-android-app/') }}",
       "IosAppDownloadLink": "{{ native_app.get('ios-download-link', 'https://about.mattermost.com/mattermost-ios-app/') }}"
   },
{% cluster = mattermost.get('cluster-settings', {}) %}
   "ClusterSettings": {
       "Enable": {{ cluster.get('enable, 'false') }},
       "ClusterName": "{{ cluster.get('name', '') }}",
       "OverrideHostname": "{{ cluster.get('override-hostname', '') }}",
       "UseIpAddress": {{ cluster.get('use-ipaddress', 'true') }},
       "UseExperimentalGossip": {{ cluster.get('use-experimental-gossip', 'false') }},
       "ReadOnlyConfig": {{ cluster.get('read-only-config', 'true') }},
       "GossipPort": {{ cluster.get('gossip-port', '8074') }},
       "StreamingPort": {{ cluster.get('streaming-port', '8075') }},
       "MaxIdleConns": {{ cluster.get('max-idle-connections', '100') }},
       "MaxIdleConnsPerHost": {{ cluster.get('max-idle-conns-per-host', '120') }},
       "IdleConnTimeoutMilliseconds": {{ cluster.get('idle-connections-milliseconds', '90000') }}
   },
{% metric = mattermost.get('metric-settings', {}) %}
   "MetricsSettings": {
       "Enable": {{ metric.get('enable', 'false') }},
       "BlockProfileRate": {{ metric.get('block-profile-rate', '0') }},
       "ListenAddress": ":{{ metric.get('listen-address', '8067') }}"
   },

{% experimental = mattermost.get('experimental-settings', {}) %}
   "ExperimentalSettings": {
       "ClientSideCertEnable": {{ experimental.get('client-side-cert-enable', 'false') }},
       "ClientSideCertCheck": "{{ experimental.get('client-side-cert-check', 'secondary') }}
   },
{% analytics = mattermost.get('analytics-settings', {}) %}
   "AnalyticsSettings": {
       "MaxUsersForStatistics": {{ analytics.get('max-users', '2500') }}
   },
{% web_rtc = mattermost.get('web-rtc-settings', {}) %}
   "WebrtcSettings": {
       "Enable": {{ web_rtc.get('enable', 'false') }},
       "GatewayWebsocketUrl": "{{ web_rtc.get('gateway-websocket-url', '') }}",
       "GatewayAdminUrl": "{{ web_rtc.get('gateway-admin-url', '') }}",
       "GatewayAdminSecret": "{{ web_rtc.get('gateway-admin-secret', ') }}",
       "StunURI": "{{ web_rtc.get('stun-uri', '') }}",
       "TurnURI": "{{ web_rtc.get('turn-uri', '') }}",
       "TurnUsername": "{{ web_rtc.get('turn-username', '') }}",
       "TurnSharedKey": "{{ web_rtc.get('turn-shared-key', '') }}"
   },
{% elasticsearch = mattermost.get('elasticsearch-settings', {}) %}
   "ElasticsearchSettings": {
       "ConnectionUrl": "{{ elasticsearch.get('connction-url', 'http://dockerhost:9200') }}",
       "Username": "{{ elasticsearch.get('username', 'elastic') }}",
       "Password": "{{ elasticsearch.get('password', 'changeme') }}",
       "EnableIndexing": {{ elasticsearch.get('enable-indexing', 'false') }},
       "EnableSearching": {{ elasticsearch.get('enable-searching', 'false') }},
       "Sniff": {{ elasticsearch.get('sniff', 'true') }},
       "PostIndexReplicas": {{ elasticsearch.get('post-index-replicas', '1') }},
       "PostIndexShards": {{ elasticsearch.get('post-index-shards', '1') }},
       "AggregatePostsAfterDays": {{ elasticsearch.get('aggregate-posts-after-days', '365') }},
       "PostsAggregatorJobStartTime": "{{ elasticsearch.get('posts-aggragator-start-time', '03:00' ) }}",
       "IndexPrefix": "{{ elasticsearch.get('index-prefix', '') }}",
       "LiveIndexingBatchSize": {{ elasticsearch.get('live-index-batch-size', '1') }},
       "BulkIndexingTimeWindowSeconds": {{ elasticsearch.get('bulk-indexing-time', '3600') }},
       "RequestTimeoutSeconds": {{ elasticsearch.get('request-timeout', '30') }}
   },
{% data_retention = mattermost.get('data-retention-settings', {}) %}
   "DataRetentionSettings": {
       "EnableMessageDeletion": {{ data_retention.get(' enable-message-deletion', 'false') }},
       "EnableFileDeletion": {{ data_retention.get('enable-file-deletion', 'false') }},
       "MessageRetentionDays": {{ data_retention.get('message-retention', '365') }},
       "FileRetentionDays": {{ data_retention.get('file-retention', '365') }},
       "DeletionJobStartTime": "{{ data_retention.get('deletion-start-time', '02:00') }}"
   },
{% export = mattermost.get('message-export-settings', {}) %}
   "MessageExportSettings": {
       "EnableExport": {{ export.get('enable', 'false') }},
       "DailyRunTime": "{{ export.get('daily-runtime', '01:00') }}",
       "ExportFromTimestamp": {{ export.get('export-timestamp', '0') }},
       "FileLocation": "{{ export.get('file-location', 'export') }},
       "BatchSize": {{ export.get('batch-size', '10000') }},
       "GlobalRelaySettings": {
           "CustomerType": "A9",
           "SmtpUsername": "",
           "SmtpPassword": "",
           "EmailAddress": ""
       }
   },
{% job = mattermost.get('job-settings', {}) %}
   "JobSettings": {
       "RunJobs": {{ job.get('run-jobs', 'true') }},
       "RunScheduler": {{ job.get('run-scheduler', 'true') }}
   },
{% plugin = mattermost.get('plugin-settings', {}) %}
   "PluginSettings": {
       "Enable": {{ plugin.get('enable', 'true') }},
       "EnableUploads": {{ plugin.get('enable-uploads', 'false') }},
       "Directory": "{{ plugins.get('directory', './plugins') }}",
       "Plugins": {},
       "PluginStates": {}
   }
}
