{
   "ServiceSettings": {
       "SiteURL": "{{ salt['pillar.get']('mattermost:service:siteurl', '') }}",
       "LicenseFileLocation": "{{ salt['pillar.get']('mattermost:service:siturl', '')}}",
       "ListenAddress": ":{{ salt['pillar.get']('mattermost:service:listen-adress', '8065') }}",
       "ConnectionSecurity": "{{ salt['pillar.get']('mattermost:service:connection-security', '') }}",
       "TLSCertFile": "{{ salt['pillar.get']('mattermost:service:tls-cert-file', '') }}",
       "TLSKeyFile": "{{ salt['pillar.get']('mattermost:service:tls-key-file', '') }}",
       "UseLetsEncrypt": {{ salt['pillar.get']('mattermost:service:letsencrypt', 'false') }},
       "LetsEncryptCertificateCacheFile": "{{ salt['pillar.get']('mattermost:service:letsencrypt-cache-file', './config/letsencrypt.cache') }}",
       "Forward80To443": {{ salt['pillar.get']('mattermost:service:forwardtohttps', 'false') }},
       "ReadTimeout": {{ salt['pillar.get']('mattermost:service:read-timeout', '300') }},
       "WriteTimeout": {{ salt['pillar.get']('mattermost.service:write-timeout', '300') }},
       "MaximumLoginAttempts": {{ salt['pillar.get']('mattermost:service:login-attempts', '10') }},
       "GoroutineHealthThreshold": -1,
       "GoogleDeveloperKey": "{{ salt['pillar.get']('mattermost:service:google-developer-key', '') }}",
       "EnableOAuthServiceProvider": {{ salt['pillar.get']('mattermost:service:enable-oauth', 'false') }},
       "EnableIncomingWebhooks": {{ salt['pillar.get']('mattermost:service:incoming-webhooks', 'true') }},
       "EnableOutgoingWebhooks": {{ salt['pillar.get']('mattermost:service:outgoing-webhooks', 'true') }},
       "EnableCommands": {{ salt['pillar.get']('mattermost:service:commands', 'true') }},
       "EnableOnlyAdminIntegrations": {{ salt['pillar.get']('mattermost:service:admin-integrations', 'true') }},
       "EnablePostUsernameOverride": {{ salt['pillar.get']('mattermost:service:username-override', 'false') }},
       "EnablePostIconOverride": {{ salt['pillar.get']('mattermost:service:icon-override', 'false') }},
       "EnableAPIv3": {{ salt['pillar.get']('mattermost:service:apiv3', 'true') }},
       "EnableLinkPreviews": {{ salt['pillar.get']('mattermost:service:link-previews', 'false') }},
       "EnableTesting": {{ salt['pillar.get']('mattermost:service:enable-testing', 'false') }},
       "EnableDeveloper": {{ salt['pillar.get']('mattermost:service:enable-developer', 'false') }},
       "EnableSecurityFixAlert": {{ salt['pillar.get']('mattermost:service:security-fix-alert', 'true') }},
       "EnableInsecureOutgoingConnections": {{ salt['pillar.get']('mattermost:service:insecure-connections', 'false') }},
       "AllowedUntrustedInternalConnections": "{{ salt['pillar.get']('mattermost:service:interal-connections', '') }}",
       "EnableMultifactorAuthentication": {{ salt['pillar.get']('mattermost:service:enable-mfa', 'false') }},
       "EnforceMultifactorAuthentication": "{{ salt['pillar.get']('mattermost:service:enfore-mfa', 'false') }}",
       "EnableUserAccessTokens": "{{ salt['pillar.get']('mattermost:service:enable-user-tokens', 'false') }}",
       "AllowCorsFrom": "{{ salt['pillar.get']('mattermost:service:allow-cors-from', '') }}",
       "SessionLengthWebInDays": {{ salt['pillar.get']('mattermost:service:session-length-web-days', '30') }},
       "SessionLengthMobileInDays": {{ salt['pillar.get']('mattermost:service:session-length-mobile-days', '30') }},
       "SessionLengthSSOInDays": {{ salt['pillar.get']('mattermost:service:session-length-sso-days', '30') }},
       "SessionCacheInMinutes": {{ salt['pillar.get']('mattermost:service:session-cache-minutes', '10') }},
       "SessionIdleTimeoutInMinutes": {{ salt['pillar.get']('mattermost:service:session-idle-minutes', '0') }},
       "WebsocketSecurePort": {{ salt['pillar.get']('mattermost:service:websocket-secure-port', '443') }},
       "WebsocketPort": {{ salt['pillar.get']('mattermost:service:websocket-port', '80') }},
       "EnableCustomEmoji": {{ salt['pillar.get']('mattermost:service:custom-emoji', 'false') }},
       "EnableEmojiPicker": {{ salt['pillar.get']('mattermost:service:emoji-picker', 'true') }},
       "RestrictCustomEmojiCreation": "{{ salt['pillar.get']('mattermost:service:restrict-emoji-creation', 'all') }}",
       "AllowEditPost": "{{ salt['pillar.get']('mattermost:service:allow-post-edit', 'always') }}",
       "PostEditTimeLimit": {{ salt['pillar.get']('mattermost:service:post-edit-time', '300') }},
       "TimeBetweenUserTypingUpdatesMilliseconds": {{ salt['pillar.get']('mattermost:service:user-typing-updates', '5000') }},
       "EnablePostSearch": {{ salt['pillar.get']('mattermost:service:post-search', 'true') }},
       "EnableUserTypingMessages": {{ salt['pillar.get']('mattermost:service:user-typing-messages', 'true') }},
       "EnableChannelViewedMessages": {{ salt['pillar.get']('mattermost:service:channel-viewed-messages', 'true') }},
       "ClusterLogTimeoutMilliseconds": {{ salt['pillar.get']('mattermost:service:cluster-log-timeout', '2000') }}
   },
   "TeamSettings": {
       "SiteName": "{{ salt['pillar.get']('mattermost:team:site-name', 'Mattermost') }}",
       "MaxUsersPerTeam": {{ salt['pillar.get']('mattermost:team:max-users', '50') }},
       "EnableTeamCreation": {{ salt['pillar.get']('mattermost:team:team-creation', 'true') }},
       "EnableUserCreation": {{ salt['pillar.get']('mattermost:team:user-creation', 'true') }},
       "EnableOpenServer": {{ salt['pillar.get']('mattermost:team:open-server', 'false') }},
       "RestrictCreationToDomains": {{ salt['pillar.get']('mattermost:team:restrict-creation-domains', '""') }},
       "EnableCustomBrand": {{ salt['pillar.get']('mattermost:team:enable-custom-brand', 'false') }},
       "CustomBrandText": {{ salt['pillar.get']('mattermost:team:custom-brand-text', '""') }},
       "CustomDescriptionText": {{ salt['pillar.get']('mattermost:team:custom-decsription-text', '""') }},
       "RestrictDirectMessage": "{{ salt['pillar.get']('mattermost:team:restrict-direct-message', 'any') }}",
       "RestrictTeamInvite": "{{ salt['pillar.get']('mattermost:team:restrict-team-invite', 'all') }}",
       "RestrictPublicChannelManagement": "{{ salt['pillar.get']('mattermost:team:restrict-public-manage', 'all') }}",
       "RestrictPrivateChannelManagement": "{{ salt['pillar.get']('mattermost:team:restrict-private-manage', 'all') }}",
       "RestrictPublicChannelCreation": "{{ salt['pillar.get']('mattermost:team:restrict-public-create', 'all') }}",
       "RestrictPrivateChannelCreation": "{{ salt['pillar.get']('mattermost:team:restrict-private-create', 'all') }}",
       "RestrictPublicChannelDeletion": "{{ salt['pillar.get']('mattermost:team:restrict-public-delete', 'all') }}",
       "RestrictPrivateChannelDeletion": "{{ salt['pillar.get']('mattermost:team:restrict-private-delete', 'all') }}",
       "RestrictPrivateChannelManageMembers": "{{ salt['pillar.get']('mattermost:team:restrict-private-manage', 'all') }}",
       "EnableXToLeaveChannelsFromLHS": {{ salt['pillar.get']('mattermost:team:enable-x-leave-channel', 'false') }},
       "UserStatusAwayTimeout": {{ salt['pillar.get']('mattermost:team:user-away-timeout', '300') }},
       "MaxChannelsPerTeam": {{ salt['pillar.get']('mattermost:team:max-channels-per-team', '2000') }},
       "MaxNotificationsPerChannel": {{ salt['pillar.get']('mattermost:team:max-notifications', '1000') }},
       "EnableConfirmNotificationsToChannel": {{ salt['pillar.get']('mattermost:team:enable-confirm-notifications', 'true') }},
       "TeammateNameDisplay": "{{ salt['pillar.get']('mattermost:team:teammate-name-display', 'username') }}",
       "ExperimentalTownSquareIsReadOnly": {{ salt['pillar.get']('mattermost:team:read-only', 'false') }}
   },
   "ClientRequirements": {
       "AndroidLatestVersion": "",
       "AndroidMinVersion": "",
       "DesktopLatestVersion": "",
       "DesktopMinVersion": "",
       "IosLatestVersion": "",
       "IosMinVersion": ""
   },
   "SqlSettings": {
       "DriverName": "mysql",
       "DataSource": "mmuser:mostest@tcp(dockerhost:3306)/mattermost_test?charset=utf8mb4,utf8&readTimeout=30s&writeTimeout=30s",
       "DataSourceReplicas": [],
       "DataSourceSearchReplicas": [],
       "MaxIdleConns": 20,
       "MaxOpenConns": 300,
       "Trace": false,
       "AtRestEncryptKey": "",
       "QueryTimeout": 30
   },
   "LogSettings": {
       "EnableConsole": true,
       "ConsoleLevel": "INFO",
       "EnableFile": true,
       "FileLevel": "INFO",
       "FileFormat": "",
       "FileLocation": "",
       "EnableWebhookDebugging": true,
       "EnableDiagnostics": true
   },
   "PasswordSettings": {
       "MinimumLength": 5,
       "Lowercase": false,
       "Number": false,
       "Uppercase": false,
       "Symbol": false
   },
   "FileSettings": {
       "EnableFileAttachments": true,
       "EnableMobileUpload": true,
       "EnableMobileDownload": true,
       "MaxFileSize": 52428800,
       "DriverName": "local",
       "Directory": "./data/",
       "EnablePublicLink": false,
       "PublicLinkSalt": "",
       "InitialFont": "luximbi.ttf",
       "AmazonS3AccessKeyId": "",
       "AmazonS3SecretAccessKey": "",
       "AmazonS3Bucket": "",
       "AmazonS3Region": "us-east-1",
       "AmazonS3Endpoint": "s3.amazonaws.com",
       "AmazonS3SSL": true,
       "AmazonS3SignV2": false,
       "AmazonS3SSE": false,
       "AmazonS3Trace": false
   },
   "EmailSettings": {
       "EnableSignUpWithEmail": true,
       "EnableSignInWithEmail": true,
       "EnableSignInWithUsername": true,
       "SendEmailNotifications": false,
       "RequireEmailVerification": false,
       "FeedbackName": "",
       "FeedbackEmail": "",
       "FeedbackOrganization": "",
       "EnableSMTPAuth": false,
       "SMTPUsername": "",
       "SMTPPassword": "",
       "SMTPServer": "",
       "SMTPPort": "",
       "ConnectionSecurity": "",
       "InviteSalt": "",
       "SendPushNotifications": false,
       "PushNotificationServer": "",
       "PushNotificationContents": "generic",
       "EnableEmailBatching": false,
       "EmailBatchingBufferSize": 256,
       "EmailBatchingInterval": 30,
       "SkipServerCertificateVerification": false,
       "EmailNotificationContentsType": "full"
   },
   "RateLimitSettings": {
       "Enable": false,
       "PerSec": 10,
       "MaxBurst": 100,
       "MemoryStoreSize": 10000,
       "VaryByRemoteAddr": true,
       "VaryByHeader": ""
   },
   "PrivacySettings": {
       "ShowEmailAddress": true,
       "ShowFullName": true
   },
   "SupportSettings": {
       "TermsOfServiceLink": "https://about.mattermost.com/default-terms/",
       "PrivacyPolicyLink": "https://about.mattermost.com/default-privacy-policy/",
       "AboutLink": "https://about.mattermost.com/default-about/",
       "HelpLink": "https://about.mattermost.com/default-help/",
       "ReportAProblemLink": "https://about.mattermost.com/default-report-a-problem/",
       "SupportEmail": "feedback@mattermost.com"
   },
   "AnnouncementSettings": {
       "EnableBanner": false,
       "BannerText": "",
       "BannerColor": "#f2a93b",
       "BannerTextColor": "#333333",
       "AllowBannerDismissal": true
   },
   "ThemeSettings": {
       "EnableThemeSelection": true,
       "DefaultTheme": "default",
       "AllowCustomThemes": true,
       "AllowedThemes": []
   },
   "GitLabSettings": {
       "Enable": false,
       "Secret": "",
       "Id": "",
       "Scope": "",
       "AuthEndpoint": "",
       "TokenEndpoint": "",
       "UserApiEndpoint": ""
   },
   "GoogleSettings": {
       "Enable": false,
       "Secret": "",
       "Id": "",
       "Scope": "profile email",
       "AuthEndpoint": "https://accounts.google.com/o/oauth2/v2/auth",
       "TokenEndpoint": "https://www.googleapis.com/oauth2/v4/token",
       "UserApiEndpoint": "https://www.googleapis.com/plus/v1/people/me"
   },
   "Office365Settings": {
       "Enable": false,
       "Secret": "",
       "Id": "",
       "Scope": "User.Read",
       "AuthEndpoint": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
       "TokenEndpoint": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
       "UserApiEndpoint": "https://graph.microsoft.com/v1.0/me"
   },
   "LdapSettings": {
       "Enable": false,
       "EnableSync": false,
       "LdapServer": "",
       "LdapPort": 389,
       "ConnectionSecurity": "",
       "BaseDN": "",
       "BindUsername": "",
       "BindPassword": "",
       "UserFilter": "",
       "FirstNameAttribute": "",
       "LastNameAttribute": "",
       "EmailAttribute": "",
       "UsernameAttribute": "",
       "NicknameAttribute": "",
       "IdAttribute": "",
       "PositionAttribute": "",
       "SyncIntervalMinutes": 60,
       "SkipCertificateVerification": false,
       "QueryTimeout": 60,
       "MaxPageSize": 0,
       "LoginFieldName": ""
   },
   "ComplianceSettings": {
       "Enable": false,
       "Directory": "./data/",
       "EnableDaily": false
   },
   "LocalizationSettings": {
       "DefaultServerLocale": "en",
       "DefaultClientLocale": "en",
       "AvailableLocales": ""
   },
   "SamlSettings": {
       "Enable": false,
       "EnableSyncWithLdap": false,
       "Verify": true,
       "Encrypt": true,
       "IdpUrl": "",
       "IdpDescriptorUrl": "",
       "AssertionConsumerServiceURL": "",
       "IdpCertificateFile": "",
       "PublicCertificateFile": "",
       "PrivateKeyFile": "",
       "FirstNameAttribute": "",
       "LastNameAttribute": "",
       "EmailAttribute": "",
       "UsernameAttribute": "",
       "NicknameAttribute": "",
       "LocaleAttribute": "",
       "PositionAttribute": "",
       "LoginButtonText": "With SAML"
   },
   "NativeAppSettings": {
       "AppDownloadLink": "https://about.mattermost.com/downloads/",
       "AndroidAppDownloadLink": "https://about.mattermost.com/mattermost-android-app/",
       "IosAppDownloadLink": "https://about.mattermost.com/mattermost-ios-app/"
   },
   "ClusterSettings": {
       "Enable": false,
       "ClusterName": "",
       "OverrideHostname": "",
       "UseIpAddress": true,
       "UseExperimentalGossip": false,
       "ReadOnlyConfig": true,
       "GossipPort": 8074,
       "StreamingPort": 8075
   },
   "MetricsSettings": {
       "Enable": false,
       "BlockProfileRate": 0,
       "ListenAddress": ":8067"
   },
   "AnalyticsSettings": {
       "MaxUsersForStatistics": 2500
   },
   "WebrtcSettings": {
       "Enable": false,
       "GatewayWebsocketUrl": "",
       "GatewayAdminUrl": "",
       "GatewayAdminSecret": "",
       "StunURI": "",
       "TurnURI": "",
       "TurnUsername": "",
       "TurnSharedKey": ""
   },
   "ElasticsearchSettings": {
       "ConnectionUrl": "http://dockerhost:9200",
       "Username": "elastic",
       "Password": "changeme",
       "EnableIndexing": false,
       "EnableSearching": false,
       "Sniff": true,
       "PostIndexReplicas": 1,
       "PostIndexShards": 1,
       "AggregatePostsAfterDays": 365,
       "PostsAggregatorJobStartTime": "03:00",
       "IndexPrefix": "",
       "LiveIndexingBatchSize": 1,
       "BulkIndexingTimeWindowSeconds": 3600,
       "RequestTimeoutSeconds": 30
   },
   "DataRetentionSettings": {
       "EnableMessageDeletion": false,
       "EnableFileDeletion": false,
       "MessageRetentionDays": 365,
       "FileRetentionDays": 365,
       "DeletionJobStartTime": "02:00"
   },
   "JobSettings": {
       "RunJobs": true,
       "RunScheduler": true
   },
   "PluginSettings": {
       "Enable": true,
       "EnableUploads": false,
       "Directory": "./plugins",
       "Plugins": {},
       "PluginStates": {}
   }
}
