{% set mattermost = salt['grains.filter_by']({
  'RedHat': {
    'version': '4.9.2',
    'install_dir': '/opt',
    'config_file': '/opt/mattermost/config/config.json',
    'config_file_source': 'salt://mattermost/templates/mattermost.jinja',
    'service_file_path': '/etc/systemd/system/mattermost.service',
    'sql_service': 'postgresql-9.4',
    'user': 'mattermost',
    'group': 'mattermost',
    'service': 'mattermost',
  },
  'Debian': {
    'version': '4.9.2',
    'install_dir': '/opt',
    'config_file': '/opt/mattermost/config/config.json',
    'config_file_source': 'salt://mattermost/templates/mattermost.jinja',
    'service_file_path': '/lib/systemd/system/mattermost.service',
    'sql_service': 'postgres',
    'user': 'mattermost',
    'group': 'mattermost',
    'service': 'mattermost',
  },
}, merge=salt['pillar.get']('mattermost:lookup')) %}
